:root {
  --cream-bg-color: #f1f1f2;
  --orange-accent-color: #f7941e;
  --black-bg-color: #231f20;
  --bg-header-footer: #fafafa;
  --white-color: #ffffff;
  --black-color: #000000;
}

/* MAIN */
body {
  font-family: "Gilroy Regular", "sans-serif";
  color: var(--black-color);
  line-height: 1.2;
}
.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  outline: solid 5px tomato;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: var(--black-color);
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
}
a:hover,
a:focus {
  color: var(--orange-accent-color);
}
.about-heading,
.services-heading,
.blogs-heading {
  font-size: 32px;
  line-height: 1.4;
}
p {
  font-size: var(--fs-reg-20);
  line-height: 1.4;
}
.hero,
.about {
  background-color: var(--cream-bg-color);
}
.services,
.blogs {
  background-color: var(--white-color);
}
.services-box {
  width: 270px;
  height: 436px;
}

/* HEADER+FOOTER */
.header,
.footer {
  background-color: var(--bg-header-footer);
}
.nav-box {
  width: 1440px;
  margin-top: 27px;
  margin-bottom: 27px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20.3px;
  padding-bottom: 20.3px;
  padding-left: 80px;
  padding-right: 40px;
  outline: solid 5px tomato;
}
.nav-list {
  padding-left: 0;
}
.nav-item {
  display: inline-block;
  
}
.nav-link {
  font-size: 18px;
}
.btn {
  font-size: 18px;
  border-radius: 5%;
  text-transform: uppercase;
  font-family: "Gilroy Regular", "sans-serif";
}
.header-btn,
.about-btn {
  color: var(--orange-accent-color);
  border-color: var(--orange-accent-color);
  background-color: transparent;
}
.footer-nav-link {
  font-size: 14px;
  font-family: "Gilroy Bold", "sans-serif";
}
/* HERO */
.hero-heading {
  font-weight: 600;
  font-size: 56px;
  margin-top: 0px;
  margin-bottom: 36px;
}
.hero-text {
  margin-top: 0px;
  margin-bottom: 52px;
}
.hero-btn {
  color: var(--white-color);
  background-color: var(--orange-accent-color);
}
.hero-text,
.about-text {
  font-size: 20px;
  line-height: 1.4;
}
.hero-box,
.about-box {
  width: 1440px;
  min-height: 700px;
  outline: solid 5px tomato;
  margin-left: auto;
  margin-right: auto;
  
}
.hero-box {
  padding-top: 154px;
  padding-bottom: 135px;
  padding-left: 162px;
  padding-right: 854px;
}
.about-box{
  padding-top: 164px;
  padding-bottom: 104px;
  padding-left: 833px;
  padding-right: 166px;
}
.about-heading {
  margin-top: 0;
  margin-bottom: 23px;
}
.about-text {
  margin-bottom: 23px;
}
.services-heading,
.services-text,
.blogs-heading,
.blogs-text {
  text-align: center;
  margin: 0;
}
.services-heading {
  padding-top: 96px;
  padding-bottom: 23px;
}
.services-text {
  padding-bottom: 64px;
}
.services-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.services-text,
.blogs-item-text {
  font-size: 18px;
  line-height: 1.36;
}
.services-next-heading {
  font-size: 20px;
}
.services-link {
  font-size: 14px;
  line-height: 1.36;
}
.signup {
  background-color: var(--orange-accent-color);
}
.signup-text {
  font-family: "Gilroy Bold", "sans-serif";
}
.signup-text,
.signup-next-text {
  font-size: 32px;
}
.signup-text {
  padding-top: 81px;

}
.signup-next-text {
  padding-bottom: 69px;
}
.signup-btn-gift {
  background-color: var(--black-bg-color);
  color: var(--white-color);
}
.signup-btn-how {
  background-color: transparent;
}
.blogs-box {
  background-color: var(--black-bg-color);
  color: var(--white-color);
}
.blogs-pre-heading,
.blogs-item-link {
  font-size: 14px;
}
.blogs-box-heading {
  font-size: 48px;
}
.blogs-box-link {
  color: var(--white-color);
  font-size: 18px;
}
.blogs-pre-heading,
.blogs-box-link,
.blogs-list-heading,
.blogs-item-link {
  line-height: 1.4;
}
.blogs-list-heading {
  font-family: "Gilroy Bold", "sans-serif";
  font-size: 24px;
  
}

@font-face {
  font-family: "Gilroy Regular";
  src: url(/fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy Semibold";
  src: url(/fonts/Gilroy-SemiBold.ttf);
}
@font-face {
  font-family: "Gilroy Bold";
  src: url(/fonts/Gilroy-Bold.ttf);
}
